<form class="addPost" name="postForm">
    <fieldset>
        <div class="textInput input-group input-group-sm">
            <input type="email" maxlength="50" name="email" class="form-control" placeholder="Email" ng-model="email" required>
        </div>

        <div class="textInput input-group input-group-sm">
            <input type="text" maxlength="50" name="title" class="form-control" placeholder="Title" ng-model="title" required>
        </div>

        <!-- Textarea -->
        <div class="textInput input-group input-group-sm">
            <textarea name="content" class="textInput contentInput" ng-model="content" required></textarea>
        </div>

        <button type="submit" class="btn btn-default" ng-click="submit()">Submit</button>
    </fieldset>
</form>
